<div class="container">
  <mat-card>
    <mat-card-header>
      <h3>Leaflet Beispiel: Adresse als Marker in Map setzen</h3>
    </mat-card-header>
    <mat-card-content>
      <form #myForm="ngForm" (ngSubmit)="searchAddressAndSetMarker()">
        <mat-form-field appearance="fill" style="width: 50%;">
          <mat-label>Adresse</mat-label>
          <input
            matInput
            placeholder="Adresse eingeben"
            [(ngModel)]="address"
            name="address"
            required
          />
        </mat-form-field>
        <button mat-button color="primary" type="submit" [disabled]="myForm.invalid" style="margin-left: 20px;">
          Suchen
        </button>
        <div *ngIf="coord">
          Breitengrad: {{coord.lat}} Längengrad: {{coord.lng}}
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="coord"
    leaflet
    style="height: 680px;"
    [leafletOptions]="options"
    [leafletLayers]="layers"
    (leafletMapReady)="onMapReady($event)"
    #mapElement
  ></div>
</div>
