<div>
  <h1 class="site-header">Leaflet Beispiel</h1>
  <div class="card-content">
      <mat-card class="api-card">
          <mat-card-header>
              <div mat-card-avatar class="api-header-image"></div>
              <mat-card-title>Ort in Map anzeigen</mat-card-title>
              <mat-card-subtitle>Test<mat-icon>mood</mat-icon></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <p>In Arbeit</p>
          </mat-card-content>
          <mat-card-actions align="end">
              <button mat-button >Daten laden</button>
          </mat-card-actions>
      </mat-card>
  </div>
</div>


