<div class="container">
  <mat-card>
    <mat-card-header>
      <h3>Leaflet Beispiel: Adressen als Marker in Map setzen</h3>

    </mat-card-header>
    <mat-card-content>
      <p>Die Map wird auf die Start Adresse zentriert. Es können weitere Adressen zur Map hinzugefügt werden.</p>
      <form #myForm="ngForm" (ngSubmit)="searchAddressAndSetMarker()">

        <mat-radio-group [(ngModel)]="selectedAddressType" name="addressType">
          <mat-radio-button value="Start Adresse">Start Adresse</mat-radio-button>
          <mat-radio-button value="Weitere Adresse">Weitere Adresse</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="fill" class="address margin-left">
          <mat-label>Adresse</mat-label>
          <input
            matInput
            placeholder="Adresse eingeben"
            [(ngModel)]="address"
            name="address"
            required
          />
        </mat-form-field>

        <button mat-button color="primary" type="submit" [disabled]="myForm.invalid || (!validateStartAddress())" class="margin-left">
          Marker setzen
        </button>
        <div *ngIf="coord">
          Breitengrad: {{coord.lat}} Längengrad: {{coord.lng}}
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="coord"
    leaflet
    style="height: 680px;"
    [leafletOptions]="options"
    [leafletLayers]="layers"
    (leafletMapReady)="onMapReady($event)"
    #mapElement
  ></div>
</div>
