<h3>Koordinaten aus Adresse ermitteln</h3>

<form [formGroup]="form" #myForm="ngForm" (ngSubmit)="searchAddress()">
  <mat-form-field class="address">
    <mat-label>Adresse</mat-label>
    <input
      matInput
      type="text"
      formControlName="address"
      placeholder="Geben Sie Adresse ein..."
    />
  </mat-form-field>
  <button mat-button color="primary" type="submit" [disabled]="myForm.invalid">
    Suchen
  </button>

  <div *ngIf="!noData() && search">
    <p>Ergebnis</p>
    <ul>
      <li>Gefundender Ort: {{displayName}}</li>
      <li>Breitengrad: {{ coordinates.lat }} -> {{ latDeg }}</li>
      <li>Längengrad: {{ coordinates.lng }} -> {{ lngDeg }}</li>
    </ul>
  </div>
  <div *ngIf="noData() && search">
    Es wurden zu dieser Adresse keine Tankstellen gefunden!
  </div>
</form>
