<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tankstellenpreise lt. e-control API</span>
    <span style="margin-left: 30%">Einige Beispiele mit Leaflets</span>
    <span class="column-spacer"></span>
    <button mat-icon-button title="TODOs" (click)="showTodos()">
      <mat-icon>toc</mat-icon>
    </button>
    <button mat-icon-button title="Hilfe & Erklärungen" (click)="showHelp()">
      <mat-icon>help</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon><span>Menü</span>
    </button>
    <span class="column-spacer"></span>
    <div>
      <a routerLink="fuel-prices-map" routerLinkActive="active-link">
        Tankstellenpreise in Map anzeigen
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
