/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.site-header {
  text-align: center;
}

.card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.api-card {
  max-width: 500px;
  margin-top: 15px;
}

.api-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
